<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/app.css" rel="stylesheet" th:href="@{/css/app.css}"/>
    <title>Login</title>
</head>

<body>
<form action="#" enctype="utf8" method="POST" th:action="@{/login}">
    <div class="container main">
        <h1 th:text="#{label.form.heading.login}">Login</h1>
        <hr>
        <div class="alert alert-danger errorMsg" th:if="${param.error}">
            Invalid username and password
        </div>
        <table align="center" class="loginTable">
            <tbody>
            <tr>
                <td class="labelTd"><strong> <label th:text="#{label.user.email}">Email</label></strong></td>
                <td><input name="username" placeholder="Email Address" type="email"/></td>
            </tr>
            <tr>
                <td class="labelTd"><strong><label th:text="#{label.user.password}">Password</label></strong></td>
                <td><input name="password" placeholder="Password" type="password"/></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <button class="submitButton" th:text="#{label.form.button.login}" type="submit">Login</button>
    </div>

    <div class="container footer">
        <p>Create account? <a th:href="@{/register}" th:text="#{label.link.register}">Register</a></p>
    </div>
</form>
</body>
</html>