body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.container {
    padding: 25px;
    background-color: white;
}
.main {
    min-height: 400px;
}
.leftAlign {
    text-align: left;
}
.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
.labelTd {
    text-align: left;
    padding: 8px;
    width: 200px;
}
.usersTable {
    border-collapse: collapse;
    width: 75%
}
.usersTable th, .usersTable td {
     text-align: left;
     padding: 8px;
     border: 1px solid black;
}
input {
    padding-left: 8px;
    width: 280px;
}
input[type=text], input[type=password] {
    display: inline-block;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
a {
    color: dodgerblue;
}
.errorMsg {
    width: 485px;
    text-align: center;
    margin-bottom: 25px;
    padding: 6px;
    margin: auto;
}
.leftAlign {
    text-align: left
}
.submitButton {
    background-color: #4CAF50;
    font-size: 20px;
    color: white;
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
}
.submitButton:hover {
    opacity: 1;
}
.logout {
    background-color: white;
    color: grey;
    float: right;
    font-size: medium;
}
.footer {
    background-color: #f1f1f1;
    text-align: center;
}